# SPDX-FileCopyrightText: 2022 Kevin Amado <kamadorueda@gmail.com>
#
# SPDX-License-Identifier: AGPL-3.0-only

[submodule "tests/nixpkgs"]
	path = tests/nixpkgs
	url = file:///data/nixpkgs
	branch = refs/remotes/origin/master
	shallow = true
